.appointmentsCard{

background:white;

padding:20px;

border-radius:18px;

box-shadow:0 10px 20px rgba(0,0,0,.05);

}

.appointmentsCard h3{

margin-bottom:18px;

}

.appointment{

display:flex;

align-items:center;

gap:18px;

}

.calendar{

width:54px;

height:50px;

background:#f4f7fb;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

font-size:20px;

color:#17334d;

}

.appointment strong{

display:block;

margin-bottom:5px;

}

.appointment p{

color:#666;

font-size:12px;

}