.header{

    height:82px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 35px;

    background:white;

    border-bottom:1px solid #ececec;

}

.header h1{

    font-size:34px;

    color:#1f2937;

}

.header span{

    color:#666;

    font-weight:400;

    font-size:20px;

}

.headerRight{

    display:flex;

    align-items:center;

    gap:18px;

}

.search{

    display:flex;

    border:1px solid #dde7ef;

    align-items:center;

    gap:12px;

    width:340px;

    padding:12px 18px;

    border-radius:14px;

    background:white;


}

.search svg{

    color:#7b8794;

}

.search input{

    border:none;

    outline:none;

    width:100%;

    background:none;

    font-size:15px;

}

.header button{

    width:44px;

    height:44px;

    border:1px solid #e7edf4;

    background:white;

    border-radius:50%;

    cursor:pointer;

    font-size:18px;

    transition:.2s;

}

.header button:hover{

    background:#eef5fb;

}