.actionMenu{

    position:relative;

}

.menuButton{

    border:none;

    background:none;

    cursor:pointer;

    font-size:20px;

    padding:5px;

}

.menuDropdown{

    position:absolute;

    right:0;

    top:35px;

    width:170px;

    background:white;

    border-radius:12px;

    box-shadow:0 8px 25px rgba(0,0,0,.12);

    overflow:hidden;

    z-index:100;

}

.menuDropdown button{

    width:100%;

    border:none;

    background:white;

    padding:12px;

    text-align:left;

    cursor:pointer;

}

.menuDropdown button:hover{

    background:#F2F4F8;

}